*{
    margin: 0;
    padding: 0;
}


main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header{
    background-color: red;
    flex-grow: 1;
    display: flex;
}
.box{
    border: 2px solid black;
    margin-left: 50px;
    box-sizing: border-box;
    height: 100px;
    width: 150px;
    background-color: skyblue;
}

section{
    background-color: green;
    flex-grow: 3;
}
footer{
    background-color: blue;
    flex-grow: 1;
}