*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}
.header{
    background-color: red;
    height: 15vh;
    width: 100%;
    display: flex;
}
.logo{
    background-color: skyblue;
    height: 15vh;
    width: 10%;
}
.menu{
    background-color: blueviolet;
    height: 15vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: crimson;
    height: 10vh;
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
    padding-top: 20px;
    justify-content: right;

}
a{
    text-decoration: none;
    margin: 50px;
    color: chartreuse;
    
}
.menubar{
    background-color: darkgoldenrod;
    height: 5vh;
    width: 100%;
}
.section{
    background-color: green;
    height: 70vh;
    width: 100%;
    display: flex;
}
.section1{
    background-color: whitesmoke;
    height: 70vh;
    width: 30%;
}
.first{
    background-color: forestgreen;
    height: 20vh;
}
.second{
    background-color: darkorange;
    height: 20vh;
    display: flex;
}
.second1{
    background-color: deeppink;
    height: 20vh;
    width: 50%;
}
.second2{
    background-color: lightcoral;
    height: 20vh;
    width: 50%;
}
.third{
    background-color: darksalmon;
    height: 30vh;
}
.section2{
    background-color: darkslateblue;
    height: 70vh;
    width: 40%;
}
.section3{
    background-color: darksalmon;
    height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.one{
    background-color: rgb(165, 51, 251);
    height: 20vh;
    width: 70%;
}
.two{
    background-color: rgb(96, 230, 6);
    height: 20vh;
    width: 50%;
}

.three{
    background-color: deeppink;
    height: 30vh;
    width: 40%;
}
.footer{
    background-color: blue;
    height: 15vh;
    width: 100%;
}