
.vishal{
    background-image: url(images/attractive-woman-appointment-eye-specialist-office_176420-3490.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.vishal2{
    background-image: url(images/IMG_2884.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}