
h1{
    font-size: 20px;
    background-color: red;
    font-weight: bold;
    font-style: italic;
}




div{
    background-image: url(images/attractive-woman-appointment-eye-specialist-office.jpg);
    height: 800px;
    width: 800px;
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 200px;
    text-align: center;
    background-color: palevioletred;
    
}