main{
    border: 5px solid black;
    display: flex;
    justify-content: center;

}
.box1{
 
height: 200px;
width: 200px;
background-color: red;
}
.box2{
   
height: 200px;
width: 200px;
background-color: green;
}
.box3{
    
height: 200px;
width: 200px;
background-color: blue;
}