*{
    margin: 0;
    padding: 0;
    text-align: center;
}

main{
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
header{
   
    background-color: red;
    flex-basis: 20%;
}
section{
    background-color: green;
    flex-basis: 70%;
    display: flex;
}
.one{
    background-color: navajowhite;
    flex-basis: 30%;
    display: flex;
}
.ten{
    background-color: chocolate;
    flex-basis: 40%;
}
.nine{
    background-color: cornflowerblue;
    flex-basis: 60%;
}
.two{
    background-color: coral;
    flex-basis:40%;
    display: flex;
    flex-direction: column;
}
.first{
    background-color: darkmagenta;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.one1{
    background-color: darkolivegreen;
    flex-basis: 50%;
}
.one2{
    background-color: brown;
    flex-basis: 50%;
}
.second{
    background-color: darkgreen;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}
.third{
    background-color: chartreuse;
    flex-basis: 50%;
}
.fourth{
    background-color: darksalmon;
    flex-basis: 50%;
}
.three{
    background-color: darkgoldenrod;
    flex-basis: 30%;
}
footer{
    background-color: blue;
    flex-basis: 10%;
}
