*{
    background-color: aqua;
}

h1{
    text-align: center;
    color: rgb(245, 13, 91);
}
button{
    padding: 30px;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: red;
    border: 5px solid black;
}
button:hover{
    background-color: brown;
    font-size: 100px;
    color: yellow;
}