*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
li a::after{
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: red;
    transition: all .5s;
}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}
.hero-img{
    max-width:1000px;
    height: auto;
}
.content-left{
    width: 30%;
}
main h1{
    font-size: 54px;
    color: yellow;
    text-transform: uppercase;
}
main h2{
    font-size: 30px;
    color: red;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p{
    font-size: 14px;
    font-weight: 400;
    color: blue;
    line-height: 31.5px;
    margin: 20px;
}
.cta{
    padding: 15px 30px;
    background: brown;
    color: chartreuse;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}
.signup-btn{
    padding: 10px 20px;
    background: brown;
    color: chartreuse;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}
@media all and (main-width:600px){
    h1{
        background-color: black;
    }
}